*.class

target/

workspace.xml

*.war

.idea/artifacts

out/

.idea/dataSources.ids
.idea/dataSources.xml
.idea/libraries

.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/sbt.xml
.idea