#menuCarousel {
	height: 100%;
}

/*.jeff-menu-item {
	position: relative;
	height: 20%;
}

.jeff-menu-item img {
	height: 100%;
	width: 100%;
}

.jeff-menu-item>.jeff-description {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	text-align: center;
}

*/